@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To view my final year project <a href="https://github.com/Arnold-A-Mubaiwa/Final-Project" target="_blank">CLICK HERE</a>.</p>
</div>
